<div class="container">
  <div class="row">
    <h1>Angular LocalStorage</h1>
<p>BACKGROUND COLOR CHANGE AND RETURNS</p>
  </div>
  <div class="row">
    <input
      type="color"
      #colorPicker
      [value]="userBackgroundColor"
      (change)="saveBackgroundColor(colorPicker.value)"
    />
  </div><br>
  <button class="btn-remove" (click)="removePreferences()">
    Remove
  </button>
</div><br><hr><br>

<input type="text" id="nameInput" [(ngModel)]="newUserName" (input)="displayText($event.target)"><br><br>
<button (click)="saveUserName()">Save Name</button><br><hr>

<h1>Angular sessionStorage</h1>
<button (click)="dataSave()"> SessionStore</button>
<p>{{ get() }}</p><hr>
